body{

}

.start{
    background-color: red;
}

.reset{
    background-color:yellow;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
}

.game{
    height: 500px;
    width: 500px;
}

.game div{
    height: 200px;
    width: 200px;
}

.purple{
    background-color: purple;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}
