body{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
}

.game{
    display: -webkit-inline-box;
    position: absolute;
    height: 100%;
    width: 1100px;
    left: calc(50% - 550px);
    background-color: rgb(27, 27, 27);
}

.green{
    margin: 0 0 0 28px;
    position: relative;
    top: calc(50% - 400px);
    height: 800px;
    width: 240px;
}

.green .light{
    height: 180px;
    width: 240px;
    background-color: rgb(0, 224, 36);
    margin: 0 0 28px 0;
}

.green .lightMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(0, 143, 23);
    margin: 0 0 28px 0;
}

.green .darkMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(2, 84, 15);
    margin: 0 0 28px 0;
}

.green .dark{
    height: 180px;
    width: 240px;
    background-color: rgb(2, 84, 15);
    margin: 0 0 28px 0;
}

.blue{
    margin: 0 0 0 28px;
    position: relative;
    top: calc(50% - 400px);
    height: 800px;
    width: 240px;
}

.blue .light{
    height: 180px;
    width: 240px;
    background-color: rgb(2, 107, 214);
    margin: 0 0 28px 0;
}

.blue .lightMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(3, 75, 148);
    margin: 0 0 28px 0;
}

.blue .darkMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(4, 54, 106);
    margin: 0 0 28px 0;
}

.blue .dark{
    height: 180px;
    width: 240px;
    background-color: rgb(3, 36, 71);
    margin: 0 0 28px 0;
}

.purple{
    margin: 0 0 0 28px;
    position: relative;
    top: calc(50% - 400px);
    height: 800px;
    width: 240px;
}

.purple .light{
    height: 180px;
    width: 240px;
    background-color: rgb(97, 0, 255);
    margin: 0 0 28px 0;
}

.purple .lightMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(72, 0, 190);
    margin: 0 0 28px 0;
}

.purple .darkMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(47, 0, 124);
    margin: 0 0 28px 0;
}

.purple .dark{
    height: 180px;
    width: 240px;
    background-color: rgb(29, 0, 78);
    margin: 0 0 28px 0;
}

.red{
    margin: 0 0 0 28px;
    position: relative;
    top: calc(50% - 400px);
    height: 800px;
    width: 240px;
}

.red .light{
    height: 180px;
    width: 240px;
    background-color: rgb(241, 0, 22);
    margin: 0 0 28px 0;
}

.red .lightMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(175, 0, 16);
    margin: 0 0 28px 0;
}

.red .darkMedium{
    height: 180px;
    width: 240px;
    background-color: rgb(110, 0, 10);
    margin: 0 0 28px 0;
}

.red .dark{
    height: 180px;
    width: 240px;
    background-color: rgb(61, 0, 6);
    margin: 0 0 28px 0;
}

.on{
    background-color: white;
}
