body{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    -webkit-transition: background-color 0.4s;
}

body div{
    -webkit-transition: background-color 0.2s, border-radius 0.2s;
}

.game{
    display: -webkit-inline-box;
    position: absolute;
    height: 100%;
    width: 50.5em;
    left: calc(50% - 25.25em);
    background-color: rgb(27, 27, 27);
}

.start{
    z-index: 1000;
    top: 0.5em;
    position: absolute;
    height: 2em;
    width: 5em;
    left: calc(50% - 18em);
    background-color: rgb(167, 167, 167);
    text-align: center;
    line-height: 2em;
    font-family: helvetica;
    font-size: 2em;
}

.reset{
    z-index: 1000;
    top: 3em;
    position: absolute;
    height: 2em;
    width: 5em;
    left: calc(50% - 18em);
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    line-height: 2em;
    font-family: helvetica;
    font-size: 2em;
}

.score{
    z-index: 1000;
    position: absolute;
    top: 0.5em;
    width: 5em;
    height: 2em;
    left: calc(50% + 13em);
    background-color: rgba(34, 34, 34, 0);
    color: rgb(237, 149, 0);
    text-align: center;
    line-height: 2em;
    font-family: helvetica;
    font-size: 2em;
}

.green{
    margin: 0 0 0 0.5em;
    position: relative;
    top: calc(50% - 21em);
    width: 12em;
}

.green .lightGreen{
    height: 10em;
    width: 12em;
    background-color: rgb(0, 224, 36);
    margin: 0 0 0.5em 0;
}

.green .lightMediumGreen{
    height: 10em;
    width: 12em;
    background-color: rgb(0, 143, 23);
    margin: 0 0 0.5em 0;
}

.green .darkMediumGreen{
    height: 10em;
    width: 12em;
    background-color: rgb(2, 84, 15);
    margin: 0 0 0.5em 0;
}

.green .darkGreen{
    height: 10em;
    width: 12em;
    background-color: rgb(1, 41, 7);
    margin: 0 0 0.5em 0;
}

.blue{
    margin: 0 0 0 0.5em;
    position: relative;
    top: calc(50% - 21em);
    width: 12em;
}

.blue .lightBlue{
    height: 10em;
    width: 12em;
    background-color: rgb(2, 107, 214);
    margin: 0 0 0.5em 0;
}

.blue .lightMediumBlue{
    height: 10em;
    width: 12em;
    background-color: rgb(3, 75, 148);
    margin: 0 0 0.5em 0;
}

.blue .darkMediumBlue{
    height: 10em;
    width: 12em;
    background-color: rgb(4, 54, 106);
    margin: 0 0 0.5em 0;
}

.blue .darkBlue{
    height: 10em;
    width: 12em;
    background-color: rgb(3, 36, 71);
    margin: 0 0 0.5em 0;
}

.purple{
    margin: 0 0 0 0.5em;
    position: relative;
    top: calc(50% - 21em);
    width: 12em;
}

.purple .lightPurple{
    height: 10em;
    width: 12em;
    background-color: rgb(150, 0, 255);
    margin: 0 0 0.5em 0;
}

.purple .lightMediumPurple{
    height: 10em;
    width: 12em;
    background-color: rgb(101, 3, 170);
    margin: 0 0 0.5em 0;
}

.purple .darkMediumPurple{
    height: 10em;
    width: 12em;
    background-color: rgb(64, 0, 110);
    margin: 0 0 0.5em 0;
}

.purple .darkPurple{
    height: 10em;
    width: 12em;
    background-color: rgb(39, 1, 66);
    margin: 0 0 0.5em 0;
}

.red{
    margin: 0 0 0 0.5em;
    position: relative;
    top: calc(50% - 21em);
    width: 12em;
}

.red .lightRed{
    height: 10em;
    width: 12em;
    background-color: rgb(241, 0, 22);
    margin: 0 0 0.5em 0;
}

.red .lightMediumRed{
    height: 10em;
    width: 12em;
    background-color: rgb(175, 0, 16);
    margin: 0 0 0.5em 0;
}

.red .darkMediumRed{
    height: 10em;
    width: 12em;
    background-color: rgb(110, 0, 10);
    margin: 0 0 0.5em 0;
}

.red .darkRed{
    height: 10em;
    width: 12em;
    background-color: rgb(61, 0, 6);
    margin: 0 0 0.5em 0;
}

.on{
    background-color: rgb(255, 255, 255) ;
    border-radius: 15em;
}

.wrong{
    background-color: red;
}

.right{
    background-color: blue;
}
